-- SQL Schema for TN Grievance Redressal Portal

-- Table: departments
CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    name VARCHAR(200) NOT NULL UNIQUE,
    name_ta VARCHAR(200),
    description TEXT,
    head_officer VARCHAR(200),
    contact_email VARCHAR(200),
    contact_phone VARCHAR(20),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Table: officers
CREATE TABLE officers (
    id SERIAL PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    designation VARCHAR(200),
    department_id INTEGER REFERENCES departments(id),
    email VARCHAR(200),
    phone VARCHAR(20),
    status VARCHAR(20) DEFAULT 'Active',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Table: admin_users
CREATE TABLE admin_users (
    id SERIAL PRIMARY KEY,
    username VARCHAR(100) NOT NULL UNIQUE,
    hashed_password VARCHAR(200) NOT NULL,
    role VARCHAR(50) DEFAULT 'admin',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Table: complaints
CREATE TABLE complaints (
    id SERIAL PRIMARY KEY,
    token VARCHAR(20) NOT NULL UNIQUE,
    name VARCHAR(200) NOT NULL,
    email VARCHAR(200),
    phone VARCHAR(20) NOT NULL,
    department_id INTEGER REFERENCES departments(id),
    department_name VARCHAR(200),
    constituency VARCHAR(200),
    address TEXT,
    pincode VARCHAR(10),
    subject VARCHAR(500),
    message TEXT NOT NULL,
    status VARCHAR(30) DEFAULT 'Pending',
    remarks TEXT,
    attachments TEXT,
    assigned_officer_id INTEGER REFERENCES officers(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Table: feedbacks
CREATE TABLE feedbacks (
    id SERIAL PRIMARY KEY,
    complaint_token VARCHAR(20) NOT NULL,
    citizen_name VARCHAR(200),
    rating INTEGER NOT NULL,
    comment TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Table: announcements
CREATE TABLE announcements (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255),
    content TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    is_active BOOLEAN DEFAULT TRUE
);

-- Indexes for performance
CREATE INDEX idx_complaints_token ON complaints(token);
CREATE INDEX idx_admin_users_username ON admin_users(username);
CREATE INDEX idx_feedbacks_complaint_token ON feedbacks(complaint_token);
